### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
data =  "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
sales_data_df = pd.read_csv(data)
sales_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = len(sales_data_df["SN"].value_counts())
players = pd.DataFrame({"Count of Players":[total_players]})
players

   Count of Players
0               576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Calculation to obtain items, average, etc.

number_of_unique_items = len((sales_data_df["Item ID"]).unique())
average_price = (sales_data_df["Price"]).mean()
number_of_purchases = (sales_data_df["Purchase ID"]).count()
total_revenue = (sales_data_df["Price"]).sum()

#Summary Table
summary_df = pd.DataFrame({"Number of Unique Items": [number_of_unique_items],
                              "Average Price": [average_price],
                              "Number of Purchases": [number_of_purchases],
                              "Total Revenue": [total_revenue]})
summary_df.style.format({'Average Price':"${:.2f}",
                        'Total Revenue': "${:.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Group gender
gender_data = sales_data_df.groupby("Gender")

#count SN by gender
gender_count = gender_data.nunique()["SN"]

#calculate percentage
gender_percentage = gender_count / total_players * 100

#calculate
gender_info = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": gender_percentage})

gender_info.index.name = None

gender_info.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#total purchases by gender
purchase_count = gender_data["Purchase ID"].count()

#average total
average_purchase = gender_data["Price"].mean()

#average total based on gender
purchase_total = gender_data["Price"].sum()

#average purchase total per person by gender
average_per_person = purchase_total/gender_count 

#data frame
gender_purchase = pd.DataFrame({"Purchase Count": purchase_count,
                            "Average Purchase Price": average_purchase,
                            "Total Purchase Value": purchase_total,
                            "Average Purchase per Person": average_per_person})
#index on left
gender_purchase.index.name = "Gender"

gender_purchase.style.format({'Average Purchase Price':"${:.2f}",
                        'Average Purchase Value': "${:.2f}",
                        'Total Purchase Value': "${:.2f}",       
                        'Average Purchase per Person': "${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#Create bins for age demographics
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]
groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#slice data and place in bins
sales_data_df["Age Grouping"] = pd.cut(sales_data_df["Age"],bins, labels=groups)
sales_data_df

#create new dataframe
age_group = sales_data_df.groupby("Age Grouping")
#count total players by age
age_count = age_group["SN"].nunique()
# Percentage
age_percentage = (age_count/total_players) * 100
#Data Frame values
age_info = pd.DataFrame({"Total Count": age_count, "Percentage of Players": age_percentage })

age_info.index.name = None

age_info.style.format({"Percentage of Players":"{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#counting purchases by age bins
age_of_purchaser = age_group["Purchase ID"].count()

#average purchase price by age group
average_purchase_total = age_group["Price"].mean()

#total purcahse value
total_value = age_group["Price"].sum()

#average purchase total in each age group(ask about that portion)
average_total = total_value/age_count

purchase_info = pd.DataFrame({"Purchase Count": age_of_purchaser,
                              "Average Purchase Price": average_purchase_total,
                              "Total Purchase Value": total_value,
                              "Average Purchase Total per Person": average_total})
purchase_info.index.name = None

purchase_info.style.format({"Average Purchase Price":"${:.2f}",
                            "Total Purchase Value":"${:,.2f}",
                            "Average Purchase Total per Person":"${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#group purchasing info
purchases = sales_data_df.groupby("SN")

#count purchases by names 
purchase_count = purchases["Purchase ID"].count()

#average amount by name 
average_spending = purchases["Price"].mean()

#purchase total 
total_spending = purchases["Price"].sum()

#create dataframe
top_spenders = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": average_spending, "Total Purchase Value": total_spending})

top_spenders.index.name = None

top_spenders.sort_values(["Purchase Count"], ascending = False).head().style.format({"Average Purchase Price":"${:.2f}","Total Purchase Value":"${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#find most popular items
items = sales_data_df[["Item ID", "Item Name", "Price"]]

#group items
item_info = items.groupby(["Item ID", "Item Name"])

#count item purchase
item_count = item_info["Price"].count()

#purchase value per item
value = (item_info["Price"].sum())

#invidual item price
item_price = value/item_count

#frame popular items
popular_items = pd.DataFrame({"Purchase Count": item_count,
                              "Item Price": item_price,
                              "Total Purchase Value": value})

popular_items.index.name = None

popular_items.sort_values(["Purchase Count"], ascending = False).head().style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
popular_items.sort_values(["Total Purchase Value"], ascending = False).head().style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})